@media (max-width : 1024px) {
    .landing {
        width: 100%;
        height: auto;
    }
}
@media (max-width : 480px) {
    .landing {
        width: auto;
        height: 100%;
    }
}

.name {
    position: absolute;
    width: 4em;
    top: 25%;
    left: 10%;
    animation: fade-in ease-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}