body {
    background-color: transparent;
}

/* For Desktop viewing */
@media (max-width : 1920px) {
    .enterance {
        position: sticky;
        top: 10px;
        z-index: -1;
    }
    .landing {
        width: 100%;
        height: auto;
        will-change: transform;
        position: fixed;
    }

    .name {
        color: white;
        position: fixed;
        width: 4em;
        top: 20%;
        left: 20%;
        animation: fade-in ease-in 2s;
    }
}

/* For Mobile viewing */
@media (max-width : 480px) {
    
    .landing {
        height: 100vh;
        width: auto;
        will-change: transform;
        position: fixed;
        top: 0px;
    }

    .name {
        color: white;
        position: fixed;
        width: 4em;
        top: 3%;
        left: 30%;
        animation: fade-in ease-in 2s;
    }

    .enterance {
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.resume {
    color: white;
    background-color: transparent;
    opacity: 0;
    position: fixed;
    overflow: scroll;
    top: 10rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10% 10%;
}

dd {
    display: list-item;
}

.date {
    font-style: italic;
}


.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #59067a, #06187a, #59067a);
        width: 3px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #59067a, #59067a, #59067a);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

.fly-out {
    transition: 0.5s;
}
